<AuthorizeView Roles="Администраторы">
    <div class="h4">Администрирование</div>
    <DxTreeView 
        AllowSelectNodes="true" 
        UrlMatchMode="NavigationUrlMatchMode.Exact"
        TextWrapEnabled="false"
        >
        <Nodes>
            <DxTreeViewNode Text="Пользователи" NavigateUrl="/Identity/Account/UsersOverview" IconCssClass="oi oi-people" CssClass="nav-item" />
            <DxTreeViewNode Text="Темы" NavigateUrl="TopicsOverviewPage" IconCssClass="oi oi-book" />
            <DxTreeViewNode  Text="Вопросы" NavigateUrl="QuestionsOverviewPage" IconCssClass="oi oi-layers" />
            <DxTreeViewNode Text="Тесты" NavigateUrl="Test" IconCssClass="oi oi-pulse" />
            <DxTreeViewNode Text="Язык сайта" NavigateUrl="Localization" IconCssClass="oi oi-globe" />
        </Nodes>
    </DxTreeView>
</AuthorizeView>
