@page "/test"

@attribute [Authorize(Roles = "Администраторы")]

<LayoutView Layout="@typeof(AdminLayout)">
    <p class="h3">Страница для проведения испытаний.</p>
    
    <AuthorizeView>
        <Authorized>
            <h2 class="text-success">Пользователь авторизован</h2>
        </Authorized>
        <NotAuthorized>
            <h2 class="text-danger">Пользователь не авторизован</h2>
        </NotAuthorized>
    </AuthorizeView>
    <AuthorizeView Roles="Студенты">
        <Authorized>
            <h2 class="text-success">Пользователь входит в роль с именем "Студенты"</h2>
        </Authorized>
        <NotAuthorized>
            <h2 class="text-danger">Пользователь не входит в роль с именем "Студенты"</h2>
        </NotAuthorized>
    </AuthorizeView>
    <AuthorizeView Roles="Администраторы">
        <Authorized>
            <h2 class="text-success">Пользователь входит в роль с именем "Администраторы"</h2>
        </Authorized>
        <NotAuthorized>
            <h2 class="text-danger">Пользователь не входит в роль с именем "Администраторы"</h2>
        </NotAuthorized>
    </AuthorizeView>
    <div class="row">
        <DxButton Click="GetSecurityTokenAsync" RenderStyle="ButtonRenderStyle.Success" RenderStyleMode="ButtonRenderStyleMode.Outline" class="m-1 col-auto">Сгенерировать токен (вход)</DxButton>
    </div>
    <div class="row">
        <DxButton Click="RevokeSecurityTokenAsync" RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="ButtonRenderStyleMode.Outline" class="m-1 col-auto">Отозвать токен (выход)</DxButton>
    </div>
</LayoutView>
