@if (ShowDialog)
{
    <div class="modal fade show d-block border-dark rounded" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @* Заголовок модального окна *@
                <div class="modal-header">
                    <h5 type="button" class="modal-title" id="titleLabel">Удалить выбранную запись?</h5>
                    <DxButton Click="NoAsync" RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="ButtonRenderStyleMode.Outline" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </DxButton>
                </div>
                @* Тело модального окна *@
                <div class="modal-body">
                    <div class="row">
                        @* Если при взаимодействии с WebAPI были произошли ошибки, то *@
                        @if (HasWebApiErrors)
                        {
                            @* Информация о проблемах взаимодействия с WebAPI *@
                            <div class="alert alert-danger mt-2">@WebApiErrorsDescription</div>
                        }
                    </div>
                    <div class="row">
                        @* Рамка отступов вокруг кнопок управления *@
                        <div class="col d-flex mx-1 mt-2">
                            <DxButton Click="YesAsync" RenderStyle="ButtonRenderStyle.Danger" RenderStyleMode="ButtonRenderStyleMode.Outline" class="m-1 ms-auto" style="width: 75px">Да</DxButton>
                            <DxButton Click="NoAsync" SubmitFormOnClick="true" RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="ButtonRenderStyleMode.Contained" class="m-1" style=" width: 75px">Нет</DxButton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
