@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Подтверждение изменения пароля";
}

<h2>@ViewData["Title"]</h2>

<p>
    Пароль был успешно изменён. Пожалуйста, перейдите по <a asp-page="./Login">ссылке</a> для входа в систему.
</p>
